body {
  background-color: aqua;
  margin: 50px;
}
h2 {
  background-color: aqua;
  margin: 50px;
}
button {
  background-color: aqua;
  margin: 50px;
}
h1 {
  background-color: aqua;
  margin: 50px;
}
